{{- $profile := promptStringOnce . "profile" "Profile (desktop or remote)" "desktop" -}}
{{- if not (or (eq $profile "desktop") (eq $profile "remote")) -}}
{{- fail "profile must be desktop or remote" -}}
{{- end -}}
[data]
profile = {{ $profile | quote }}
{{ if eq $profile "remote" }}
git_user_name = {{ promptStringOnce . "git_user_name" "Git user name" "Chase" | quote }}
git_user_email = {{ promptStringOnce . "git_user_email" "Git user email" "188378569+EquilOne@users.noreply.github.com" | quote }}
{{ end }}
