{{- $gitUserName := "Chase" -}}
{{- $gitUserEmail := "188378569+EquilOne@users.noreply.github.com" -}}
{{- if eq (index . "profile") "remote" -}}
{{- $gitUserName = index . "git_user_name" -}}
{{- $gitUserEmail = index . "git_user_email" -}}
{{- end -}}
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[pull]
	rebase = true
[init]
	defaultBranch = main
[user]
	name = {{ $gitUserName }}
	email = {{ $gitUserEmail }}
[fetch]
	prune = true
[color]
	ui = auto
